body{
background: gray;
}

.DogCards {
  background: white;
  margin: 5px;
  height: 400px;
  width: 400px;
  border-style: solid; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
.mappedDogList {
  background: rgb(155, 155, 155);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}
.addDogBox {
  text-align: center;
  background: white;
  position: top 20px;
  margin: 20px;
  border-style: solid;
}
.EditBox {

  text-align: center;
  background: white;
  margin: 20px;
  border-style: solid;
  
}
.FeedDog {
 height: 30px;
 width: 100px;
 margin: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.EditBox input {
  text-align: center;
  background: white;
  margin: 5px;
}
.addDogBox input {
  text-align: center;
  background: white;
  margin: 5px;
}

footer {
  background: gray;
  text-align: center;
}